[submodule "common-utils"]
	path = common-utils
	url = https://github.com/parkje0927/common-utils.git
[submodule "common-redis"]
	path = common-redis
	url = https://github.com/parkje0927/common-redis.git
